<div class="card" style="width: 18rem;">
<img src={{etudiant.photo}} class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Nom: {{etudiant.nom}} {{etudiant.prenom}}</h5>
<p class="card-text">Informations personnelles</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">Email: {{etudiant.email}}</li>
<li class="list-group-item">Telephone: {{etudiant.telephone}}</li>
<li class="list-group-item">
    <a href="{{etudiant.linkedin}}" target="_blank">LinkedIn</a>
</li>
<li class="list-group-item">
    <a href="{{etudiant.alumni}}" target="_blank">Alumni</a>
</li>
<li class="list-group-item">
    <a href="{{etudiant.nom | etudiantPipe:etudiant.prenom}}" target="_blank">GitHub</a>
</li>
</ul>
</div>